apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ .Chart.Name }}-cors
spec:
  headers:
    accessControlAllowMethods:
      - "GET"
      - "POST"
      - "PUT"
      - "DELETE"
      - "OPTIONS"
    accessControlAllowHeaders:
      - "DNT"
      - "User-Agent"
      - "X-Requested-With"
      - "If-Modified-Since"
      - "Cache-Control"
      - "Content-Type"
      - "Range"
      - "Authorization"
    accessControlAllowOriginList:
      - "{{ .Values.ingress.cors.allowOrigin }}"
    accessControlAllowCredentials: true
    accessControlMaxAge: 86400
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ .Chart.Name }}-ratelimit
spec:
  rateLimit:
    average: 100
    burst: 50
