apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: personal-website-apps
  namespace: argocd
spec:
  generators:
    # Production
    - matrix:
        generators:
          - list:
              elements:
                - branch: main
                  namespace: personal-website
                  suffix: ""
          - list:
              elements:
                - component: postgres
                  ingressSubdomain: ""
                  imageTag: "18"
                - component: backend
                  ingressSubdomain: "api2"
                  imageTag: "1.4.2"
                - component: frontend
                  ingressSubdomain: "vm2"
                  imageTag: "1.3.2"
                - component: physics-svc
                  ingressSubdomain: ""
                  imageTag: "1.4.2"
                - component: migration-svc
                  ingressSubdomain: ""
                  imageTag: "1.4.2"
    # Dev
    - matrix:
        generators:
          - list:
              elements:
                - branch: dev
                  namespace: personal-website-dev
                  suffix: "-dev"
          - list:
              elements:
                - component: postgres
                  ingressSubdomain: ""
                  imageTag: "18"
                - component: backend
                  ingressSubdomain: "api2"
                  imageTag: "dev"
                - component: frontend
                  ingressSubdomain: "vm2"
                  imageTag: "dev"
                - component: physics-svc
                  ingressSubdomain: ""
                  imageTag: "dev"
                - component: migration-svc
                  ingressSubdomain: ""
                  imageTag: "dev"
  template:
    metadata:
      name: "personal-website-{{component}}{{suffix}}"
      namespace: argocd
    spec:
      project: default
      source:
        repoURL: https://github.com/laurimaila/argocd-personal-website.git
        targetRevision: "{{branch}}"
        path: "charts/{{component}}"
        helm:
          parameters:
            - name: ingress.host
              value: "{{ingressSubdomain}}{{suffix}}.laurimaila.com"
            - name: ingress.cors.allowOrigin
              value: "https://vm2{{suffix}}.laurimaila.com"
            - name: ingress.annotations.traefik\.ingress\.kubernetes\.io/router\.tls\.certresolver
              value: "myresolver"
            - name: image.tag
              value: "{{imageTag}}"
      destination:
        server: https://kubernetes.default.svc
        namespace: "{{namespace}}"
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
